<%= erb :navbar %>

<div class="contain" >


  <% if isAdmin? %>
     <h1> Select an Application to Review </h1>
  <% else %>
     <h1> Current Applications</h1>
  <% end %>

  <% if apps == nil %>
    <% if isAdmin? %>
      <p> No one has submitted an application to you. </p>
    <% else %>
      <p> You have no previous applications -- click below to submit one. </p>
    <% end %>
  <% else %>
    <ul style="list-style-type: none">
      <% for app in apps %>
      <%  query_params = {
            folder_id: app.id,
            folder_name: app.name
        } %>
        <li class="application"><a href="/review?<%=QueryParams.encode(query_params) %>"><button class="application-btn"><%= app.name %></button></a>  <p>Status: <strong style="color:red"> Pending Approval </strong></p></li>
      <% end %>
    </ul>
  <% end %>

  <% if !isAdmin? %>
    <a href="/apply" class="btn btn-primary" style="margin-left:15px">Submit New Application</a>
  <% end %>


</div>
