<%= erb :navbar %>

<div class="contain" >

  <h1 class="form"> Upload or choose files to upload for your loan application </h1>

  <div class=apply-form>
    <form action="/apply/submit" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" required>

      <label for="email">Email:</label>
      <input type="email" name="email" required>
     <!-- :regexp => %r{[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@
  (?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?}  -->

  <label for="bankerselect">Banker:</label>
      <select name="bankerselect" >
        <option value="232125343" selected>Mike Lapointe</option>
      </select>

      <br />
      <label for="file_list">Files:</label>

      <ul id="file_list">

      </ul>
      <button type="button" class="btn" data-toggle="modal" data-target=".bs-example-modal-lg">Add File</button>


      <input type="submit" class="btn btn-primary" value="Apply">
    </form>
    <br />
    <a href="/" style="text-align:center">Cancel</a>
  </div>

    <%= erb :file_picker_modal %>




</div><!-- /.container -->

<script src="/javascripts/js/filepicker.js"></script>
