<%= erb :navbar %>

<div class="contain" >


  <h1> Current Applications</h1>
  <% if apps == nil %>
    <p> You have no previous applications -- click below to submit one. </p>
  <% else %>
    <ul>
      <% for app in apps %>
      <%  query_params = {
            folder_id: app.id,
            folder_name: app.name
        } %>
        <li><a href="/review?<%=QueryParams.encode(query_params) %>"><%= app.name %></a></li>
      <% end %>
    </ul>
  <% end %>

  <a href="/apply" class="btn btn-primary">Submit New Application</a>


</div>
