<%= erb :navbar %>

<div class="contain" >

  <h1> Upload or choose files to upload for your loan application  </h1>



  <% files = client.folder_items(Boxr::ROOT) %>

  <ul id="file_list">

  </ul>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Add File</button>

    <%= erb :file_picker_modal, :locals => {:files => files} %>




</div><!-- /.container -->

<script src="/javascripts/js/filepicker.js"></script>
