<div id="filePickerModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose a file to submit</h4>
      </div>

      <div class="modal-body">

          <div class="filepicker">
            <ul class="file-tree" id="modal_file_ul">
              <!-- Added via js & ajax -->
            </ul>
          </div>

      </div>

      <div class="modal-footer">
        <p> Don't see your file here? <button id="upload_link" onclick="showUpload()"> Upload it to Box </a> </p>
        <div class="modal-upload">
          <form accept-charset="UTF-8" action="apply/upload" class="new_article" data-remote="true" id="upload_file_form" method="post">
            <input type="file" name="files[]" id="file_select" multiple/>
            <input type="submit" value="Upload" id="upload_file_submit">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
