<div class="contain" >

  <h1> Welcome to the Bank of America online loans portal. </h1>
  <h3> Sign in with Box below to upload documents for your loan application </h3>


</div><!-- /.container -->
