<%= erb :navbar %>

<div class="contain" >

  <div class="left_review_pane col-xs-10 col-sm-6">
    <a href="/">< Back</a>
    <h1> Review Application </h1>

    <h2> <%= name %> </h2>

    <p> <strong> Files Submitted </strong> - Choose file below to view/comment </p>
    <ul>
      <% items.zip(dl_links).each do |i, dl| %>
          <li><a href="<%=dl%>" onclick="return confirmDownload()" ><%= i.name %></a></li>
      <% end %>
    </ul>

    <% if isAdmin? %>
      <button class="btn accept" onClick="acceptApplication()">Accept</button>
      <button class="btn reject" onClick="acceptApplication()">Reject</button>
    <% end %>


  </div>

  <div class="right_review_pane col-xs-10 col-sm-6">

    <div class="viewer">

      <iframe style="width: 100%; height: 500px;" src="https://view-api.box.com/1/sessions/7b8e51cb284a407ba5bec7a7fa2ba1b2/view?theme=light" height="240" width="320" seamless="" allowfullscreen=""></iframe>
    </div>
    <h3> Comments </h3>
    <button class="btn btn-primary" onclick="addComment()">Add Comment</button>

  </div>



</div>

<!-- <link href="/stylesheets/css/crocodoc.viewer.min.css" rel="stylesheet">
<script src='/javascripts/js/crocodoc.viewer.min.js'></script> -->
<script src="/javascripts/js/review.js"></script>
