<%= erb :navbar %>

<div class="contain" >

  <h1><a href="/"><</a> Review Application </h1>

  <h2> <%= name %> </h2>

  <p> Files Submitted </p>
  <ul>
    <% for i in items %>
      <%  query_params = {
            folder_id: i.id,
            folder_name: i.name
        } %>
        <li><a href="/review/file?<%=QueryParams.encode(query_params) %>"><%= i.name %></a></li>
    <% end %>
  </ul>

</div>
