
div.navbar {
  background-color: #d50021;
}

div.navbar li {
  color:white;
}

div.contain {

  margin-top:65px;

}


button.file-btn{
  width: 80%;
  text-align: left;
  margin: 5px;
  border: black 1px solid;
  background-color: #89acca;
  color: white;

}
