
div.navbar {
  background-color: #d50021;
}

div.navbar li {
  color:white;
}

.navbar-nav {
  float: right;
  font-size: 20px;
}

div.contain {

  margin-top:65px;

}

h1.form {
  text-align: center;
}

div.apply-form {
  width:90%;
  margin:auto;
}

.apply-form input{
  display:block;
  width:100%;
}

.apply-form button{

  margin:20px auto;

}

button.file-btn{
  width: 80%;
  text-align: left;
  margin: 5px;
  border: black 1px solid;
  background-color: #89acca;
  color: white;

}

div.modal-upload{
  display:none;

}

@media (min-width:768px){
  div.apply-form{
    width:40%;
  }
}
